<div class="container main">

<div>
	<center><h2 style="font-family: 'Shrikhand';" class="title">QUICK UP LINES!</h2></center>
	<div style="height: 300px;width: 500px; margin:0 auto;position: relative; background-color: #7E8F9C" class="box">

		<div style="height: 80%; color: white">
			<p ng-show="line" class="title">{{line.line}}</p>
			<br>
			<p ng-show="line"><span class="subtitle is-4">-{{line.author}}</span></p>
		</div>

		<div class="level">
			<div class="field level-left">
				<button class="button level-item" ng-click="getLine()">GET A RANDOM LINE</button>
			</div>
			<div class="field level-right">
				<a style="margin-bottom: 8px" class="icon has-text-white is-large level-item" ng-click="favorite()"><i class="fas fa-2x fa-heart"></i></a>
				<a style="margin-bottom: 8px" class="icon has-text-white is-large level-item" ng-click="flag()"><i class="far fa-2x fa-flag"></i></a>
			</div>
		</div>

	</div>
</div>
<div class="container">

{{msg}}

<div class="container">
<center>
	<p>Add to our growing database of pickup lines!</p>

	<div>
		<form id="newLine" class="form" method="post" ng-submit="submitLine()">
			<div>
				<div>
					<input class="input control" placeholder="Enter New Pickup Line" type="text" ng-model="newLine.line">
					<input type="submit" class="button control btn-default"/>
			</div>
		</form>
	</div>
</center>
</div>


</div>
