	<h1>REGISTER </h1>
	<form id="register" method="post" ng-submit="register()">
		<div class="row">
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" ng-model="newUser.username" id="username">
				<br>
				<label for="username">Email</label>
				<input class="form-control" type="email" ng-model="newUser.email" id="email">
				<br>
				<label for="password">Password</label>
				<input class="form-control" type="password" ng-model="newUser.password" id="password">
				<br>
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
	{{msg}}
	<h1>LOGIN</h1>	
	<form id="login" method="post" ng-submit="login()">
		<div class="row">
			<div class="form-group">
				<label for="username">Username</label>
				<input class="form-control" type="text" ng-model="log.username" id="username">
				<br>
				<label for="password">Password</label>
				<input class="form-control" type="password" ng-model="log.password" id="password">
				<br>
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>
	{{msg2}}
